body {
  height: 100%;       
  margin: 0;        
  padding: 0;         

  background-color: $bg-dark;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.0)), url("../images/background_minimized.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  font-family: 'Roboto', sans-serif;
}
button {
  background-color: transparent;
  border-color: transparent;
}
a { 
  &:link {text-decoration: none !important;}
  &:visited {text-decoration: none !important;}
  &:active {text-decoration: none !important;}
}
h1, h2, h3, p {
  color: $txt-color-primary;
}
hr {
  color: $txt-color-secondary;
}
h1 {
  font-family: 'Trirong', serif;
  font-size: 1.6em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1em;
  font-family: 'Trirong', serif;
}
p {
  font-size: 0.9em;
}

.button-page {
  img {
    width: 30px;
    margin: 10px;
    border-radius: $border-radius;
    &:hover {
      background-color: $bg-dark;
    }
  }
}

.intro {
  text-align: center;
  color: $txt-color-primary;
  &--hidden {
    height: 0px; // changed by javascript on click
    overflow-y: hidden;
    transition: $transition-time;
  }
}

.synthetic {  
  padding: 30px 20px;
  flex-basis: 41%;
  display: flex;
  align-items: center;
  @include STYLE_strip1();
  & > h1 {
    writing-mode: sideways-lr;
    font-size: 1.2rem;
    margin: auto 0px;
  }
  img {
    max-width: 110px;
    margin: 0 20px;
  }
  &__text {
    flex: 1;
    text-align: center;
    padding: 0 10px;
    h1, h2 { 
      color: $txt-color-primary; 
      margin: 0;
    }
    hr {
      margin: 10px 0;
    }
    p {
      margin: 0;
      color: $txt-color-secondary;
    }
  }
  &:hover {
    @include STYLE_strip1_hover();
  }
}
