@include a-neutralize();

.bulle {
    border: 2px solid white;
    border-radius: 30px;
    background-color: transparent;
    text-align: right;
    color: $txt-light;
    padding: 6%;
    h1 { 
        color : $txt-white; 
    }
    &:hover {
        color: white;
    }
    hr {
        margin-top: 3%;
        margin-bottom: 3%;
    }   
}

.synthetic {
    border-radius: 30px;  
    background-color: $bg-dark;
    padding: 3%;
    h1, h2 { 
        color: $txt-white;
        padding-bottom: 1%; 
    }
    p { color: $txt-light; }
    img { max-width: 120px; } 
    &:hover {
        background-color: white;
        h1, h2 { color: $txt-dark; }
        p { color: $bg-dark; }
    }
}