* {
    box-sizing: border-box;
    h1 {        font-size: 1.8em;    }
    h2 {        font-size: 1.2em;    }
    p {        font-size: 0.8em;     }
}

body {
    font-family: 'Open Sans', sans-serif;
    background: url("../images/background_cut.png") no-repeat center center fixed;
}