$header-padding: 110px;
$header-logo-width: 110px;
$header__title-size: 20px;
$header__button-width: 40px;

header {
    display: flex; justify-content: space-between;
    a { 
        display: flex; align-items: center;
        padding: $header-padding;
        text-decoration: none;
        img {
            width: $header-logo-width;
        }
        h1 {
            color: $txt-light;
            font-size: $header__title-size;
            margin-left: $header-padding;
            span {
                color: $txt-white;
                font-size: (2*$header__title-size);
            }
        }
        &:hover {
            h1 {
                color: $txt-white;
                span {
                    color: $txt-light;
                }
            }
        }
    }
    button {
        padding: $header-padding;
        background-color: transparent;
        border-color: transparent;
        img {
            width: $header__button-width;
        } 
        &:hover { 
            h3 {
                color: $txt-white;
            } 
        }      
    }   
}

nav {
    height: 0px; /* change this with JavaScript */
    padding-right: 166px;
    
    background-color: transparent;
    overflow-y: hidden; // Disable vertical scroll
    transition: 1.5s; /* 0.5 second transition effect to slide in the sidebar */

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    a {  
        text-decoration: none;
        font-size: 18px;
        color: $txt-light;
        margin-bottom: 20px;
        &:hover {
            color: white;
        }
    }    
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    a {
        margin: 60px;
        width: 60px;
        border-radius: 30px;
        img {
            width: 100%
        }
        &:hover {
            background-color: $bg-light;
        }
    }
}