
$header__title-size: 1.2rem;
$header__title-marginLeft: 22px; 
$header__button-width: 40px;
header {
  display: flex;
  padding: $margin-primary;
  a {
    flex: 1;
    display: flex;
    margin-right: 11%;
    text-decoration: none;  
    align-items: center;
    img {
      width: $header__img-size;
      height: $header__img-size;
    }
    h1 {
      align-self: center;
      margin-left: $header__title-marginLeft;
      color: $txt-color-secondary;
      font-size: $header__title-size;
      span {
        color: $txt-color-primary;
        font-size: (2*$header__title-size);
      }
    }
    transition: transform 2000ms;
    &:hover { 
      transform: scale(1.05);
      h1 {
        color: $txt-color-primary;
        span {
          color: $txt-color-secondary;
        }
      }
    }
  }
  button { 
    align-self: center;
    img {
      width: $header__button-width;
    }
    h3 { 
      color: $txt-color-secondary;
      margin: 0;
    }
    transition: all 1000ms; 
    &:hover {
      transform: scale(1.2); 
      cursor: pointer;
      h3 {
        color: $txt-color-primary;
      } 
    }      
    @media all and (max-width: $breakpoint) {
      h3 {
        display: none;
      }
    }
  }

  @media all and (max-width: $breakpoint) {
    a {
      padding: 0;
      img {
        width: (1.3*$header__img-size);
        height: (1.3*$header__img-size);
      }
      h1 {
        font-size: (1.3*$header__title-size);
      }
    }
  }
}


$nav__txt-size: 18px;
$nav-paddingRight: 0%;
$nav-marginBottom: 20px;
nav {
  height: 0px;    // This is changed by JavaScript when user clicks on nav icon
  padding-right: $nav-paddingRight; 
  text-align: center;
  overflow-y: hidden;
  transition: $transition-time;   
  a { 
    display: block;
    font-size: $nav__txt-size;
    color: $txt-color-secondary;
    margin-bottom: $nav-marginBottom;
    &:hover {
      color: $txt-color-primary;
    }
  }    
}


$footer-padding: 110px;
$footer__button-width: 80px;
$footer__img-width: 60px;
footer {
  display: flex; 
  justify-content: flex-end;
  padding: $footer-padding;
  a {
    width: $footer__button-width;
    border-radius: $border-radius;
    text-align: center;
    img {
      width: $footer__img-width;
    }
    &:hover {
      background-color: $bg-dark;
    }
  }
}