$header-padding: 110px;
$header__logo-width: 110px;
$header__title-size: 20px;
$header__button-width: 40px;
header {
    display: flex; 
    justify-content: space-between;
    a { 
        display: flex; 
        align-items: center;
        padding: $header-padding;
        text-decoration: none;
        img {
            width: $header__logo-width;
        }
        h1 {
            color: $txt-light;
            font-size: $header__title-size;
            margin-left: $header-padding;
            span {
                color: $txt-white;
                font-size: (2*$header__title-size);
            }
        }
        &:hover {
            h1 {
                color: $txt-white;
                span {
                    color: $txt-light;
                }
            }
        }
    }
    button {
        padding: $header-padding;
        background-color: transparent;
        border-color: transparent;
        img {
            width: $header__button-width;
        }
        h3 {
            color: $txt-light;
        } 
        &:hover { 
            h3 {
                color: $txt-white;
            } 
        }      
    }   
}

$nav-padding-right: 110px;
$nav-time: 1.5s;    // time of collapsing effect 
nav {
    height: 0px;    // This is changed with JavaScript
    padding-right: $nav-padding-right; 
    text-align: end;
    overflow-y: hidden;     // Hide vertical scrolling bar
    transition: $nav-time;   
    a { 
        display: block;
        font-size: 18px;
        color: $txt-light;
        margin-bottom: 20px;
        &:hover {
            color: white;
        }
    }    
}

$footer-spacing: 110px;
$footer-arrow-width: 60px;
$footer-button-radius: 30px;
footer {
    display: flex; 
    justify-content: flex-end;
    padding: $footer-spacing;
    a {
        width: $footer-spacing;
        border-radius: ($footer-button-radius);
        text-align: center;
        img {
            width: $footer-arrow-width;
        }
        &:hover {
            background-color: $bg-light;
        }
    }
}