header { 
    a {
        img {
            margin-right: 33%;
            font-size: 1.25em;
            color: white;
        }
        margin: 3% 6%;
    }

    .bg-light {
        background-color: transparent !important;
        a { 
            color: white; 
            &:hover {
                color: $txt-white;
                font-size: 125%;
            }
            &:link {text-decoration: none;}
            &:visited {text-decoration: none; color: $txt-light;}
            &:active {text-decoration: none;}
        }
    }
    
    button {
        margin-right: 6%;
    }
    .nav-item {
        margin-bottom: 2%;
    }
}
