$bubble-width: 40%;
$bubble-padding: 6%;
$bubble-border-size: 3px;
$bubble__txt-align: center;
$bubble__icon-width: 60px;
.article__container { 
  display: flex;
  justify-content: center;

  .bubble {
    flex-basis: $bubble-width;
    min-width: 450px;
    padding: $bubble-padding;
    border: $bubble-border-size solid $txt-color-primary;
    border-radius: $border-radius;
    text-align: $bubble__txt-align;
    a {
      img {
        width: $bubble__icon-width;
        transform: rotate(180deg);
        &:hover {
          background-color: $bg-light;
          border-radius: $border-radius;
        }
      }
    }
  }
}

#Main {
  padding-top: 100px;
  .main__container {
    margin: 100px 6%;
    padding: 80px 0;
    background-color: rgba(7, 7, 7, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    border-radius: $border-radius;
  
    > h1 {
      font-size: 30px;
      flex-basis: 66%;
      text-align: center;
      background-color: white;
      color: rgb(47, 47, 47);
      margin-bottom: 80px;
      padding: 20px 0;
      border-radius: $border-radius;
    }
  
    .synthetic {
      background-color: $bg-dark;
      border-radius: $border-radius;
      min-width: 500px;
      margin-bottom: 40px;
      padding: 30px 20px;
    
      flex-basis: 41%;
      display: flex;
      align-items: center;
  
      & > h1 {
        writing-mode: sideways-lr;
        font-size: 1.2rem;
        margin: auto 0px;
      }
  
      img {
        max-width: 110px;
        margin: 0 20px;
      }
  
      &__text {
        flex: 1;
        text-align: center;
        padding: 0 10px;
        h1, h2 { 
          color: $txt-color-primary; 
          margin: 0;
        }
        hr {margin: 10px 0;}
        p {margin: 0;}
      }
      
      &:hover {
        background-color: $txt-color-primary;
        h1, h2, h3, hr { color: $txt-color-dark; }
        p { color: $txt-color-secondary--strong; }
      }
    }
  }
}


@media all and (max-width: $breakpoint) {
  .article__container {
      .bubble {
      flex: 1;
      padding-bottom: 6%;
      margin-bottom: 0;
      a {
        display: none;
      }
    }
  }

  #Main {
    padding-top: 0;
    .main__container {
      > h1 {
        font-size: 1.4em;
        flex-basis: 66%;
        padding: 10px;
      }
      .synthetic {
        flex-basis: 80%;
      }
    }
  }
}