@mixin bulle-style() {
    border-radius: 30px;
    background-color: transparent;
    color: $txt-light;
    padding: 6%;
    border: 2px solid white;
    h1 { 
        color : $txt-white;
        text-align: right; 
    } 
}
@mixin bulle-sizing() {
    //margin-bottom: 0%;
}

@mixin synthetic-style() {
    border-radius: 30px;  
    background-color: $bg-dark;
    h1 { color: $txt-white;}
    h2, p { color: $txt-light;}
    img {max-width: 120px;} 
    padding: 4%;
}