@mixin bulle-style() {
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid white;
    h1 { color : $txt-white; }
    color: $txt-light;
    text-align: right;
    padding: 6%;
}
@mixin bulle-sizing() {

}
@mixin bulle() {
    @include bulle-style();
    @include bulle-sizing();
}

@mixin synthetic-style() {
    border-radius: 30px;  
    background-color: $bg-dark;
    h1 { color: $txt-white;}
    h2, p { color: $txt-light;}
}

@mixin synthetic() {
    @include synthetic-style();
}  