body {
    font-family: 'Open Sans', sans-serif;
    background: url("../images/background_cut.png") repeat center center fixed;
}

section {
    margin: 11% 0;
}

a {
    &:hover {
        color: white;  
    }
    &:link {text-decoration: none;}
    &:visited {text-decoration: none;}
    &:active {text-decoration: none;}
}
