h1 {        
    font-size: 1.6em;    
}
h2 {        
    font-size: 1.2em;    
}
p {        
    font-size: 0.8em;     
}

$bg-light : rgba(255, 255, 255, 0.459);
$bg-dark : rgba(2, 3, 8, 0.541);

$txt-white : white;
$txt-light : rgba(255, 255, 255, 0.74);
$txt-grey : rgba(92, 87, 87, 0.924);
$txt-dark : rgba(63, 60, 60, 0.924);