$breakpoint : 1300px;
$border-radius : 30px;
$margin-primary: 6%;
$transition-time: 1.25s;

$bg-light : rgba(66, 65, 65, 0.753);
$bg-dark : rgba(2, 3, 8, 0.541);

$txt-color-primary: white;
$txt-color-secondary: rgba(206, 206, 206, 0.74);
$txt-color-secondary--strong : rgba(92, 87, 87, 0.924);
$txt-color-dark : rgba(63, 60, 60, 0.924);







