@mixin white-hover() {
    border-radius: 30px;
    padding: 3% 6%;
    background-color: $color-transparent-dark;
    text-align: end;
    h1 {        color: $color-txt-white;    }
    h2, p {        color: $color-txt-light;    }
    &:hover {
        background-color: white;
        h1 {        color: $color-txt-dark;    }
        h2, p {        color: $color-txt-grey;    }
    } 
}

@mixin white-block() {
    text-align: end;
    border-radius: 30px;
    padding: 3% 6%;
    background-color: $color-background-light;
    color: $color-txt-dark;
}