$color-transparent-dark : rgba(2, 3, 8, 0.541);
$color-background-light : rgba(255, 255, 255, 0.459);
$color-grey-light : rgba(255, 255, 255, 0.548);

$color-txt-white : white;
$color-txt-light : rgba(255, 255, 255, 0.74);
$color-txt-grey : rgba(92, 87, 87, 0.924);
$color-txt-dark : rgba(63, 60, 60, 0.924);


