body {
    font-family: 'Open Sans', sans-serif;
    background: url("../images/background_cut.png") repeat-y center center fixed;
    background-size: auto;
}

#Intro {
    padding-top: 0%;
    margin-bottom: 11%;
}

#Synthetics {
    > a {
        margin-top: 6%; // vertical spacing of .synthetics 
    }
}

#Contact {
    margin-top: 11%;
    margin-bottom: 11%;
    padding-top: 11%;
    .bulle {
        &:hover {
            color: $txt-light;
        }
        a {
            color: white;
            font-size: 1.2em;
        }
    }
    .carte {
        background-color: transparent;
        border: 2px solid white;
        border-radius: 30px;
        color: $txt-light;
        text-align: center;
        padding: 2%;
        h3 {font-size: 1.3em; color: white;}
        img {
            width: 50%; 
            border-radius: 30px;
            margin: 11%;
        }       
    }
}




