body {
    font-family: 'Open Sans', sans-serif;
    color: $color-text-light;
    background: url("../images/background_cut.png") no-repeat center center fixed;
}
a {
    &:link {
        text-decoration: none;
        color: $color-text-light;
    }
    &:visited {
        color: $color-text-light;
    }
}
.flex-container { border: 3px solid rgb(10, 230, 10);
    display: flex;
    flex-flow: row nowrap;
    
    .flex-item { border: 3px solid rgb(10, 50, 230);
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}
@media (max-width:900px) {
    .flex-container {
        flex-direction:  column;
        .flex-item {
            width: 100%;
            text-align: start;
        }
    }
}

.synthetic {  //border: 1px solid white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;  
    align-items: center;
    width: 80%;
    max-width: 600px;
    padding: 3% 6%;
    gap: 11%;
    background-color: $color-secondary-dark;
    border-radius: 30px;

    &__picture { 
        img {
            width: 111px;
        }
    }
    &__content {
        h1 {
            font-size: 1.8em;
        }
        h2 {
            font-size: 1.2em;
            color: $color-primary-dark;
        }
        p {
            font-size: 0.8em;
            color: $color-primary-dark; 
        }
    }

    &:hover {
        background-color: $color-text-light;
        h1 {
            color: $color-primary-dark; 
        }
    }
}