
#Intro {
    display: flex;    
    flex-flow: column nowrap;     
    justify-content: center;     
    align-items: flex-end;
    .infoblock {
        @include white-block();
        padding: 6% 11%; 
    }     
}

#Content {
    display: flex;
    flex-wrap: wrap;

    section { border: 1px dashed rgb(255, 255, 255);
        flex: 100%;
        display: flex;    flex-flow: column nowrap;     justify-content: center;
        .synthetic {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            align-self: center;
            @include white-hover();  
            &__picture {
                img {
                    width: 150px;
                }
            }
        }
    }
}

/* @media (min-width: 800px) {
    .synthetic {
        width: 44%;
        margin: 6% 22%;
    }
}

@media (max-width: 799px) {
    .synthetic {
        width: 90%;
        margin: 22% 3%;
    }
} */