// Plots borders on structure's blocks
@if (true == true) {
    .container-fluid {
        border: 0.5em inset rgb(211, 74, 74);
        padding: 1%;
        margin-bottom: 1px;
    }
}

// Columns and rows border multicoloring
@if (true == true) {
    .col {
        border-style: solid;
        border-width: 1em;
        border-radius: 30px;
        border-top-color: #16DB93;
        border-bottom-color: #A4036F;
        border-left-color: #EFEA5A;
        border-right-color: #FE5E41;
        margin: 1%;
        padding: 1%;
    }
    .row {
        border: 1em ridge rgb(97, 97, 233);
        margin: 1%;
        padding: 1%;
    }
}
